<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Scoreboard - {{roomName}}</title>
    <meta name="org.matrix.confbot.room_alias" content="{{trackingAlias}}" />
    <meta name="org.matrix.confbot.room_id" content="{{trackingId}}" />
</head>
<body id="scoreboard">
    <noscript>Sorry, you'll need JavaScript to use this widget.</noscript>
    <h3>Scoreboard for <a href="https://matrix.to/#/{{trackingAlias}}" onclick="intercept(event)">{{trackingAlias}}</a></h3>
    <p>The most upvoted messages will appear here.</p>
    <div id="upvoted"></div>
</body>
</html>
