<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{roomName}}</title>
    <meta name="org.matrix.confbot.video_url" content="{{videoUrl}}" />
    <meta name="org.matrix.confbot.conf_domain" content="{{conferenceDomain}}" />
    <meta name="org.matrix.confbot.conf_id" content="{{conferenceId}}" />
    <meta name="org.matrix.confbot.conf_name" content="{{roomName}}" />
    <meta name="org.matrix.confbot.livestream_start_time" content="{{livestreamStartTime}}" />
    <meta name="org.matrix.confbot.livestream_end_time" content="{{livestreamEndTime}}" />
</head>
<body>
    <noscript>Sorry, you'll need JavaScript to use this widget.</noscript>
    <div id="messages">
        <h3>Waiting for stream</h3>
    </div>
    <video id="livestream" controls autoplay playsinline></video>
    <div id="controlBar">
        <button id="muteButton">Mute</button>
        <button id="joinButton">Join Conference</button>
    </div>
    <div id="jitsiUnderlay"><h3>Connecting to conference...</h3></div>
    <div id="jitsiContainer"></div>
    <div id="liveBanner" class="banner">
        <span id="liveBannerShortText">LIVE</span>
        <span id="liveBannerLongText">You are being live broadcasted</span>
    </div>
    <script src="https://{{conferenceDomain}}/libs/external_api.min.js"></script>
</body>
</html>
