<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{roomName}}</title>
    <meta name="org.matrix.confbot.video_url" content="{{videoUrl}}" />
    <meta name="org.matrix.confbot.conf_domain" content="{{conferenceDomain}}" />
    <meta name="org.matrix.confbot.conf_id" content="{{conferenceId}}" />
    <meta name="org.matrix.confbot.conf_name" content="{{roomName}}" />
</head>
<body>
    <noscript>Sorry, you'll need JavaScript to use this widget.</noscript>
    <div id="messages">
        <h3>Waiting for stream</h3>
    </div>
    <video id="livestream" controls autoplay muted playsinline></video>
    <div id="controlBar">
        <button id="muteButton">Muted: Click to unmute</button>
        <button id="joinButton">Join Conference</button>
    </div>
    <div id="jitsiUnderlay"><h3>Connecting to conference...</h3></div>
    <div id="jitsiContainer"></div>
    <div id="liveBanner"><span><!-- Populated with media queries --></span></div>
    <script src="https://{{conferenceDomain}}/libs/external_api.min.js"></script>
</body>
</html>
